<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/styleMain.css" />
    <link rel="stylesheet" href="../css/estilo_inicio.css" />
    <link rel="stylesheet" href="../css/stylemenu.css" />
    <link rel="stylesheet" href="../css/estiloAdmin.css" />
    <script src="/lib/jQuery3.js"></script>
    <link rel="stylesheet" href="/lib/jquery.dataTables.min.css" />
    l
    <script src="/lib/jquery.dataTables.min.js"></script>
  </head>
  <body>
    <header>
      <a href="#" class="logo">
        <i class="fa-solid fa-shoe-prints"></i>
        <span class="logo-text">Franch Solutions</span>
      </a>

      <nav>
        <div class="menu-toggle">
          <i class="fa-solid fa-grip"></i>
        </div>

        <ul>
          <li><a href="/">Login</a></li>
          <li><a href="home.html">Home</a></li>
          <li><a href="administrar.html">Admin</a></li>
          <li><a href="#">Productos</a></li>
          <li><a href="#">skilss</a></li>
          <li><a href="#">Contactos</a></li>
        </ul>
      </nav>
    </header>

    <!-- AQUI COMIENZA EL ADMINISTRADOR -->
    <!-- TABLE CLIENTES  -->
    <div class="table-cliente">
      <table id="datatable">
        <thead>
          <tr>
            <th></th>
            <th>No</th>
            <th>Productos</th>
            <th>Descripion</th>
            <th>Cantidad</th>
            <th>Estado</th>
            <th>Imagen</th>
            <th>Tipo</th>

            <th>Fecha Creacion</th>
          </tr>
        </thead>
        <div class="bod">
          <tbody id="tabla_cliente">
            <tr data-persona="001">
              <td class="table-checkbox">
                <input type="checkbox" name="" id="" />
              </td>

              <td>1</td>
              <td>Lucia Nicte</td>
              <td>Hernandez Sanchez</td>
              <td>98721 31233 1722</td>
              <td>nic@gmail.com</td>
              <td>+587712782</td>
              <td>Femenino</td>

              <td>29/12/2012</td>
            </tr>
            <tr data-persona="002">
              <td class="table-checkbox">
                <input type="checkbox" name="" id="" />
              </td>

              <td>2</td>
              <td>Luis Fernando</td>

              <td>Paxel Cojolón</td>
              <td>2321 32343 1232</td>
              <td>luisc522gmail.com</td>
              <td>+502123312</td>
              <td>Masculino</td>

              <td>29/12/2012</td>
            </tr>
            <tr data-persona="003">
              <td class="table-checkbox">
                <input type="checkbox" name="" id="" />
              </td>

              <td>3</td>
              <td>Luis Fernando</td>

              <td>Paxel Cojolón</td>
              <td>2321 32343 1232</td>
              <td>luisc522gmail.com</td>
              <td>+502123312</td>
              <td>Masculino</td>

              <td>29/12/2012</td>
            </tr>
            <tr data-persona="004">
              <td class="table-checkbox">
                <input type="checkbox" name="" id="" />
              </td>

              <td>4</td>
              <td>Luis Fernando</td>

              <td>Paxel Cojolón</td>
              <td>2321 32343 1232</td>
              <td>luisc522gmail.com</td>
              <td>+502123312</td>
              <td>Masculino</td>

              <td>29/12/2012</td>
            </tr>

            <tr>
              <td class="table-checkbox">
                <input type="checkbox" name="" id="" />
              </td>

              <td>5</td>
              <td>Luis Fernando</td>

              <td>Paxel Cojolón</td>
              <td>2321 32343 1232</td>
              <td>luisc522gmail.com</td>
              <td>+502123312</td>

              <td>Patricio Perez</td>
              <td>29/12/2012</td>
            </tr>
            <tr>
              <td class="table-checkbox">
                <input type="checkbox" name="" id="" />
              </td>

              <td>6</td>
              <td>Luis Fernando</td>
              <td>Paxel Cojolón</td>
              <td>2321 32343 1232</td>
              <td>luisc522gmail.com</td>
              <td>+502123312</td>

              <td>Patricio Perez</td>
              <td>29/12/2012</td>
            </tr>

            <tr>
              <td class="table-checkbox">
                <input type="checkbox" name="" id="" />
              </td>

              <td>7</td>
              <td>Orlando Ignacion</td>
              <td>Ajucj aporo</td>
              <td>2321 32343 1232</td>
              <td>ajoch.com</td>
              <td>+5099182</td>
              <td>Masculino</td>

              <td>12/12/2012</td>
            </tr>

            <tr>
              <td class="table-checkbox">
                <input type="checkbox" name="" id="" />
              </td>

              <td>7</td>
              <td>Orlando Ignacion</td>
              <td>Ajucj aporo</td>
              <td>2321 32343 1232</td>
              <td>ajoch.com</td>
              <td>+5099182</td>
              <td>Masculino</td>

              <td>12/12/2012</td>
            </tr>
            <tr>
              <td class="table-checkbox">
                <input type="checkbox" name="" id="" />
              </td>

              <td>7</td>
              <td>Orlando Ignacion</td>
              <td>Ajucj aporo</td>
              <td>2321 32343 1232</td>
              <td>ajoch.com</td>
              <td>+5099182</td>
              <td>Masculino</td>

              <td>12/12/2012</td>
            </tr>

            <tr>
              <td class="table-checkbox">
                <input type="checkbox" name="" id="" />
              </td>

              <td>7</td>
              <td>Orlando Ignacion</td>
              <td>Ajucj aporo</td>
              <td>2321 32343 1232</td>
              <td>ajoch.com</td>
              <td>+5099182</td>
              <td>Masculino</td>

              <td>12/12/2012</td>
            </tr>
            <tr>
              <td class="table-checkbox">
                <input type="checkbox" name="" id="" />
              </td>

              <td>7</td>
              <td>Orlando Ignacion</td>
              <td>Ajucj aporo</td>
              <td>2321 32343 1232</td>
              <td>ajoch.com</td>
              <td>+5099182</td>
              <td>Masculino</td>

              <td>12/12/2012</td>
            </tr>
            <tr>
              <td class="table-checkbox">
                <input type="checkbox" name="" id="" />
              </td>

              <td>7</td>
              <td>Orlando Ignacion</td>
              <td>Ajucj aporo</td>
              <td>2321 32343 1232</td>
              <td>ajoch.com</td>
              <td>+5099182</td>
              <td>Masculino</td>

              <td>12/12/2012</td>
            </tr>
            <tr>
              <td class="table-checkbox">
                <input type="checkbox" name="" id="" />
              </td>

              <td>7</td>
              <td>Orlando Ignacion</td>
              <td>Ajucj aporo</td>
              <td>2321 32343 1232</td>
              <td>ajoch.com</td>
              <td>+5099182</td>
              <td>Masculino</td>

              <td>12/12/2012</td>
            </tr>
            <tr>
              <td class="table-checkbox">
                <input type="checkbox" name="" id="" />
              </td>

              <td>7</td>
              <td>Orlando Ignacion</td>
              <td>Ajucj aporo</td>
              <td>2321 32343 1232</td>
              <td>ajoch.com</td>
              <td>+5099182</td>
              <td>Masculino</td>

              <td>12/12/2012</td>
            </tr>
            <tr>
              <td class="table-checkbox">
                <input type="checkbox" name="" id="" />
              </td>

              <td>7</td>
              <td>Orlando Ignacion</td>
              <td>Ajucj aporo</td>
              <td>2321 32343 1232</td>
              <td>ajoch.com</td>
              <td>+5099182</td>
              <td>Masculino</td>
              <td>99</td>
              <td>asdasd Perez</td>
              <td>12/12/2012</td>
            </tr>
            <tr>
              <td class="table-checkbox">
                <input type="checkbox" name="" id="" />
              </td>

              <td>7</td>
              <td>Orlando Ignacion</td>
              <td>Ajucj aporo</td>
              <td>2321 32343 1232</td>
              <td>ajoch.com</td>
              <td>+5099182</td>
              <td>Masculino</td>

              <td>12/12/2012</td>
            </tr>
          </tbody>
        </div>
      </table>
    </div>
    <!-- CONTENEDOR VER FILAS -->
    <dialog id="modalProducto">
      <div class="container">
        <div class="contenedorModal">
          <div class="head">
            <h2><i class="fa-brands fa-letterboxd"></i> Productos</h2>
            <div class="btnSalir"><i class="fa-solid fa-circle-xmark"></i></div>
          </div>
          <div class="inputs">
            <label for="txtId"
              ><i class="fa-solid fa-code"></i> Codigo Producto</label
            >
            <input type="number" name="txtidp" id="txtidp" />
          </div>
          <div class="inputs">
            <label for="txtlblProducto"
              ><i class="fa-solid fa-text-width"></i> Producto</label
            >
            <input type="text" id="txtproducto" name="txtproducto" />
          </div>
          <div class="inputs">
            <label for="txtblbCantidad"
              ><i class="fa-solid fa-arrow-up-9-1"></i> Cantidad</label
            >
            <input type="number" id="txtcantidad" name="txtcantidad" />
          </div>
          <div class="inputs">
            <label for="txtlblPrecio">
              <i class="fa-solid fa-coins"></i> Precio</label
            >
            <input type="number" id="txtprecio" name="txtprecio" />
          </div>
          <div class="inputs">
            <label for="txtlblImagenes"
              ><i class="fa-solid fa-image"></i> Imagenes</label
            >
            <input type="file" id="txtImagen" name="txtImagen" />
          </div>

          <div class="inputs">
            <label for="txtlbltipo"
              ><i class="fa-solid fa-text-width"></i> Tipo</label
            >
            <select name="txtSelectTipo" id="txtSelectTipo">
              <option value="">Sandalias</option>
              <option value="">Tenis</option>
              <option value="">Formales</option>
            </select>
          </div>

          <div class="inputs">
            <label for="txtlblDescripcion"
              ><i class="fa-solid fa-text-width"></i> Decripcion</label
            >
            <textarea name="txtdescripcion" id="txtdescripcion"></textarea>
          </div>

          <div class="botonesgroup">
            <button id="btnAgregar" name="btnAgregar" >Agregar Producto</button>
          </div>
        </div>
      </div>
    </dialog>

    <script src="../js/tableAdmin.js"></script>
    <!-- BOTONES PRINCIPALES DE LA TABLA -->
    <script>
      const dt = new DataTable("#datatable", [
        {
          id: "buttonAgregarProducto",
          text: "Agregar Producto",
          icon: "fa-solid fa-barcode",
          action: function () {
            // const elementos = dt.getSelected();
            // const modalDatosGenerales = document.querySelector(
            //   "#modal_datos_generales",
            // );
            // modalDatosGenerales.showModal();
          },
        },

        {
          id: "buttonEliminarProducto",
          text: "Eliminar Producto",
          icon: "fa-solid fa-folder-plus",
          action: function () {},
        },

        {
          id: "buttonActualizarProducto",
          text: "Actualizar Producto",
          icon: "fa-solid fa-pen-to-square",
          action: function () {},
        },

        {
          id: "buttonVerProducto",
          text: "Ver Producto",
          icon: "fa-sharp fa-solid fa-folder-open",
          action: function () {
            window.open("reporte.html?id=2&id2=33", "_blank");
          },
        },
        {
          id: "error-row",
          text: "Mas de dos datos seleccionados",
          icon: "fa-solid fa-xmark",
          action: function () {},
        },
      ]);

      dt.parse();
    </script>
    <script src="../js/menu.js"></script>
    <script src="../js/mainAdminProductos.js"></script>
  </body>
</html>
