<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="../css/styleMain.css" />

    <link rel="stylesheet" href="../css/estilo_inicio.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />

    <link rel="stylesheet" href="../css/stylemenu.css" />
  </head>
  <body>
    <header>
      <a href="#" class="logo">
        <i class="fa-solid fa-shoe-prints"></i>
        <span class="logo-text">Franch Solutions</span>
      </a>

      <nav>
        <div class="menu-toggle">
          <i class="fa-solid fa-grip"></i>
        </div>

        <ul>
          <li><a href="../index.html">Login</a></li>
          <li><a href="home.html">Home</a></li>
          <li><a href="administrar.html">Admin</a></li>
          <li><a href="#">Productos</a></li>
          <li><a href="#">skilss</a></li>
          <li><a href="#">Contactos</a></li>
        </ul>
      </nav>
    </header>

    <section class="hero" id="home">
      <div class="content">
        <h1>Fransisco Hernandez</h1>
        <h2>Comerciante <span class="typing-text"> Musico</span></h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur
          at ipsum commodi dolores ducimus architecto esse recusandae voluptas
          est et! Vero quidem eum labore accusantium fugiat ad, quibusdam
          officia aut!
        </p>
        <div class="cta-buttons">
          <a href="#productos" class="btn btn-primary">
            <i class="fa-solid fa-qrcode"></i> Ver Productos
          </a>
          <a href="#contact" class="btn btn-secondary">
            <i class="fa-solid fa-person-circle-plus"></i>
            Contactos
          </a>
        </div>

        <div class="social-icons">
          <a href="#"><i class="fa-brands fa-facebook"></i></a
          ><a href="#"><i class="fa-brands fa-square-whatsapp"></i></a
          ><a href="#"><i class="fa-brands fa-instagram"></i></a
          ><a href="#"><i class="fa-brands fa-tiktok"></i></a>
        </div>
      </div>
      <div class="profile-container">
        <div class="border-outer"></div>
        <div class="border-middle"></div>
        <div class="border-inner"></div>
        <div class="border-container"></div>
        <div class="pulse-ring"></div>
        <div class="pulse-ring"></div>
        <div class="pulse-ring"></div>
        <img
          src="../img/luiscv1.png"
          alt="Imagen"
          width="240px"
          class="profile-img"
        />
      </div>
    </section>
    <main class="contenedor1">
      <section class="tenisProductos" id="tenisProductos">
        <h1 class="heading"><span>Tenis</span></h1>

        <div class="swiper card-slider">
          <div id="Pintando1" class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="animacioncard box">
                <div class="icons">
                  <span>Precio: </span> <span>Q.600.00</span>
                </div>
                <div class="image">
                  <img src="../img/tenis1.png" alt="" />
                </div>
                <div class="content">
                  <div class="descripcionProducto">
                    <h2>Tenis Polo</h2>
                    <h4>Tenis deportivos color smarty naranja</h4>
                  </div>
                  <div class="btn-box btncard service-btn">
                    <button id="btnTarget1" value="idElement" class="btncuatro">
                      <img src="../img/finger-touch.svg" alt="Icono" />

                      Ver
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="animacioncard box">
                <div class="icons">
                  <span>Precio: </span><span>Q.125.00</span>
                </div>
                <div class="image">
                  <img src="../img/tenis3.png" alt="" />
                </div>
                <div class="content">
                  <div class="descripcionProducto">
                    <h2>Tenis Polo</h2>
                    <h4>Tenis Deportivos runner maxLight version arco Iris</h4>
                  </div>
                  <div class="btn-box btncard service-btn">
                    <button id="btnTarget1" value="idElement" class="btncuatro">
                      <img src="../img/finger-touch.svg" alt="Icono" />
                      Ver
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="animacioncard box">
                <div class="icons">
                  <span>Precio: </span> <span>Q.765.00</span>
                </div>
                <div class="image">
                  <img src="../img/tenis4.png" alt="" />
                </div>
                <div class="content">
                  <div class="descripcionProducto">
                    <h2>Tenis Polo</h2>
                    <h4>Fitnees shoes marca pato</h4>
                  </div>
                  <div class="btn-box btncard service-btn">
                    <button id="btnTarget1" value="idElement" class="btncuatro">
                      <img src="../img/finger-touch.svg" alt="Icono" />
                      Ver
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="animacioncard box">
                <div class="icons">
                  <span>Precio: </span> <span>Q.123.00</span>
                </div>
                <div class="image">
                  <img src="../img/tenis5.png" alt="" />
                </div>
                <div class="content">
                  <div class="descripcionProducto">
                    <h2>Tenis Polo</h2>
                    <h4>
                      Tenis premium importado china doble suela extrafina
                      fitnees shoes
                    </h4>
                  </div>
                  <div class="btn-box btncard service-btn">
                    <button id="btnTarget1" value="idElement" class="btncuatro">
                      <img src="../img/finger-touch.svg" alt="Icono" />
                      Ver
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </section>

      <section class="newsletter">
        <form action="">
          <h3>Un paso a la vez es suficiente.</h3>
          <input
            type="email"
            name="txtbuscarp"
            placeholder="Buscar Producto"
            id="txtbuscarp"
            class="box"
          />
          <div class="btncard">
            <input type="submit" value="Buscar" class="btncuatro" />
          </div>
        </form>
      </section>

      <!-- SANDALIAS -->

      <section class="tenisProductos" id="tenisProductos">
        <h1 class="heading"><span>Sandalias</span></h1>

        <div class="swiper card-slider">
          <div id="Pintando1" class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="animacioncard box">
                <div class="icons">
                  <span>Precio: </span> <span>Q.60.00</span>
                </div>
                <div class="image">
                  <img src="../img/san1.jpg" alt="" />
                </div>
                <div class="content">
                  <div class="descripcionProducto">
                    <h2>Sandalia Libre</h2>
                    <h4>Sandalia comoda con ventilacion incluida</h4>
                  </div>
                  <div class="btn-box btncard service-btn">
                    <button id="btnTarget1" value="idElement" class="btncuatro">
                      <img src="../img/finger-touch.svg" alt="Icono" />

                      Ver
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="animacioncard box">
                <div class="icons">
                  <span>Precio: </span><span>Q.125.00</span>
                </div>
                <div class="image">
                  <img src="../img/san2.jpg" alt="" />
                </div>
                <div class="content">
                  <div class="descripcionProducto">
                    <h2>Sandalia Romana</h2>
                    <h4>Sandalia hecha con material fino para uso comodo</h4>
                  </div>
                  <div class="btn-box btncard service-btn">
                    <button id="btnTarget1" value="idElement" class="btncuatro">
                      <img src="../img/finger-touch.svg" alt="Icono" />
                      Ver
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="animacioncard box">
                <div class="icons">
                  <span>Precio: </span> <span>Q.75.00</span>
                </div>
                <div class="image">
                  <img src="../img/san3.png" alt="" />
                </div>
                <div class="content">
                  <div class="descripcionProducto">
                    <h2>Sandalia Cafe</h2>
                    <h4>Sandalia de doble amarre para mayor agarre</h4>
                  </div>
                  <div class="btn-box btncard service-btn">
                    <button id="btnTarget1" value="idElement" class="btncuatro">
                      <img src="../img/finger-touch.svg" alt="Icono" />
                      Ver
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="animacioncard box">
                <div class="icons">
                  <span>Precio: </span> <span>Q.99.99</span>
                </div>
                <div class="image">
                  <img src="../img/san4.png" alt="" />
                </div>
                <div class="content">
                  <div class="descripcionProducto">
                    <h2>Sandalia Playa</h2>
                    <h4>Sandalia top playa extra suave</h4>
                  </div>
                  <div class="btn-box btncard service-btn">
                    <button id="btnTarget1" value="idElement" class="btncuatro">
                      <img src="../img/finger-touch.svg" alt="Icono" />
                      Ver
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </section>

      <section class="icons-container">
        <div class="icons">
          <i class="fa-solid fa-shoe-prints"></i>
          <div class="content">
            <h3 class="masked-text">Disenios Exclusivos</h3>
          </div>
        </div>

        <div class="icons">
          <i class="fa-solid fa-palette"></i>
          <div class="content">
            <h3 class="masked-text">Variedad De Colores</h3>
          </div>
        </div>

        <div class="icons">
          <i class="fa-solid fa-hand-holding-dollar"></i>
          <div class="content">
            <h3 class="masked-text">Precios Exclusivos</h3>
          </div>
        </div>

        <div class="icons">
          <i class="fa-solid fa-list-ol"></i>
          <div class="content">
            <h3 class="masked-text">Variedad De Tallas</h3>
          </div>
        </div>
      </section>
      <div class="containerFooter">
        <div class="versionfooter">
          <span>© 2026 LuisPa. Todos los derechos reservados. Version 1.0</span>
        </div>
      </div>
    </main>
    <script src="../js/inicio.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>

    <script src="../js/menu.js"></script>
  </body>
</html>
